<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- welcome-file -->
    <welcome-file-list>
        <welcome-file>/main.html</welcome-file>
    </welcome-file-list>

    <!-- context-param -->
    <context-param>
        <param-name>url</param-name>
        <param-value>https://nhnacademy.com/</param-value>
    </context-param>

    <!-- error page -->
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.html</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error/500.html</location>
    </error-page>

    <!--hello-->
    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>com.nhnacademy.helloservlet.HelloServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Mr.</param-value>
        </init-param>
        <init-param>
            <param-name>name</param-name>
            <param-value>marco</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <!-- multiple -->
    <servlet>
        <servlet-name>multipleServlet</servlet-name>
        <servlet-class>com.nhnacademy.helloservlet.MultipleServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>multipleServlet</servlet-name>
        <url-pattern>/multiple</url-pattern>
    </servlet-mapping>

    <!-- counter -->
    <servlet>
        <servlet-name>counterServlet</servlet-name>
        <servlet-class>com.nhnacademy.helloservlet.CounterServlet</servlet-class>
        <init-param>
            <param-name>counter</param-name>
            <param-value>100</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>counterServlet</servlet-name>
        <url-pattern>/counter</url-pattern>
    </servlet-mapping>

    <!-- now -->
    <servlet>
        <servlet-name>nowServlet</servlet-name>
        <servlet-class>com.nhnacademy.helloservlet.NowServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>nowServlet</servlet-name>
        <url-pattern>/now</url-pattern>
    </servlet-mapping>

    <!-- request -->
    <servlet>
        <servlet-name>requestServlet</servlet-name>
        <servlet-class>com.nhnacademy.helloservlet.RequestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>requestServlet</servlet-name>
        <url-pattern>/req</url-pattern>
    </servlet-mapping>

    <!-- set cookie -->
    <servlet>
        <servlet-name>setCookieServlet</servlet-name>
        <servlet-class>com.nhnacademy.helloservlet.cookie.SetCookieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>setCookieServlet</servlet-name>
        <url-pattern>/set-coockie</url-pattern>
    </servlet-mapping>
    
    <!-- read cookie -->
    <servlet>
        <servlet-name>readCookieServlet</servlet-name>
        <servlet-class>com.nhnacademy.helloservlet.cookie.ReadCookieServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>readCookieServlet</servlet-name>
        <url-pattern>/read-cookie</url-pattern>
    </servlet-mapping>

    <!-- domain cookie -->
    <servlet>
        <servlet-name>domainCookiServlet</servlet-name>
        <servlet-class>com.nhnacademy.helloservlet.cookie.DomainCookieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>domainCookiServlet</servlet-name>
        <url-pattern>/domain-cookie/*</url-pattern>
    </servlet-mapping>
    
    <!-- login -->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.nhnacademy.helloservlet.login.LoginServlet</servlet-class>
        
        <init-param>
            <param-name>id</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>pwd</param-name>
            <param-value>1234</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- logout -->
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.nhnacademy.helloservlet.login.LogoutServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>

